/**

gulp-cssmin will remove all whitespace

**/

body {

	margin: 0;
	background: #cf4647;
	font-family: 'Roboto', sans-serif;
	text-align: center;

}

section {

	min-height: 100vh;

	h1 {
		font-size: 40px;
		font-weight: 400;
		color: #FFF;
		img {
			max-width: 100px;
			vertical-align: middle;
		}
	}

}


/**

Also, gulp-cssmin will merge the reused 
media queries seen below

**/

@media(min-width: 768px) {
	section {
		h1 {
			font-size: 60px;
		}
	}
}

@media(min-width: 768px) {
	section {
		h1 {
			img {
				max-width: 150px;
			}
		}
	}
}


/**

And gulp-autoprefixer will generate
vendor prefixes for
the properties below

**/

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}